.form-input {
    margin-left: 30px;
    padding: 1rem;
}

.ip-p2-hidden {
    display: none;
}

.ip-p2-show {
    display: block;
}

#submit-form {
    margin: 0.5%;
    box-shadow: 2px 2px #888888;
}

#submit-form:hover {
    background-color:#d0d0d0;
    border: 1px solid black;
    border-radius: 2px 2px;
    padding: 1px 6px;
}

#submit-form:active {
    border: 1px solid black;
    box-shadow: none;
    transform: translateX(1px) translateY(1px);
}